.box {
    -fx-background-color: #FFFFFF;
}

.heading {
    -fx-font-size: 30.0;
}

.card-prompt {
    -fx-font-size: 15.0;
}

.prompt {
    -fx-font-size: 20.0;
}

.highlight {
    -fx-font-weight: bold;
    -fx-background-color: #FFEE7F;
    -fx-border-color: #000000;
    -fx-border-radius: 1.0;
}

.underline {
    -fx-underline: true;
}

.led {
    -fx-fill: grey;
    -fx-stroke: black;
}

.led:hover {
    -fx-stroke-width: 2px;
    -fx-stroke: red;
}